@use "sass:color";

$numbers: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $number in $numbers {
  .decoration-#{$number} {
    text-decoration-thickness: #{$number}px!important;
  }
  .hover-decoration-#{$number}:hover {
    text-decoration-thickness: #{$number}px!important;
  }
  .underline-offset-#{$number} {
    text-underline-offset: #{$number}px!important;
  }
  .hover-underline-offset-#{$number}:hover {
    text-underline-offset: #{$number}px!important;
  }
}
