/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import variables
 */
@import "variables";

/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind screen;

@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../fonts/Raleway/Raleway-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"),
    url(../fonts/Merriweather/Merriweather-Regular.ttf) format("truetype");
}

@tailwind utilities;
/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@import "layouts/home";

/**
 * Do NOT include anything else in this file!
 */
